html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Urbanist", sans-serif;
  --color-bg: #222831;
  --color-secondary: #393e46;
  --color-text: #eeeeee;
  --color-subtext: #00adb5;
}
