@import url("https://fonts.googleapis.com/css2?family=Vibes&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-secondary);
  height: 6rem;
}

.container h1 {
  font-family: "Vibes", cursive;
  font-size: 72px;
  line-height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 2rem;

  cursor: pointer;
}

.primary-text {
  color: var(--color-text);
}

.subtext {
  color: var(--color-subtext);
}

.container ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 22px;
}

.container ul li:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-subtext);
  cursor: pointer;
  transition: text-decoration 0.3s ease;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  gap: 2rem;
}

.login p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text);

  cursor: pointer;
}

.login button,
.navbarSignIn button {
  background: var(--color-subtext);
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text);
  padding: 1rem 2rem;

  border: none;
  outline: none;

  cursor: pointer;
}

.navbarMenu {
  display: none;
  margin-right: 1rem;
}

.navbarMenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-secondary);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.navbarMenuContainer p {
  margin: 1rem 0;
  font-family: var(--font-family);
  color: var(--color-subtext);
  font-size: 22px;
  cursor: pointer;
}

.navbarSignIn {
  display: none;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 900px) {
  .container ul {
    width: 1px;
    display: none;
  }
  .login {
    width: 1px;
    display: none;
  }
  .navbarMenu {
    display: flex;
  }
  .navbarSignIn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .navbarSignIn button {
    margin: 0.25rem;
    padding: 0.75rem 1rem;
  }
}
