.container {
  min-height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 5rem 0;
}

.login h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  margin-top: 3rem;
  color: var(--color-text);
  text-align: center;
  animation: glow 0.5s infinite alternate;
}

.box {
  height: 32rem;
  width: 30rem;
  background: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px var(--color-subtext);
  border-radius: 20px;
}

.box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.field label {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin: 0.25rem 0;
  color: var(--color-text);
}

.field input {
  background: #495260;
  background-blend-mode: color-dodge;
  border-radius: 10px;
  width: 25rem;
  height: 3rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 16px;

  color: var(--color-text);
}

.field input:focus {
  border: 1px solid rgba(0, 173, 181, 0.2);
  box-sizing: border-box;
  box-shadow: 0 0 3px 3px var(--color-subtext);
}

.field input[type="email"]::placeholder {
  text-align: center;
}

.field input[type="password"]::placeholder {
  text-align: center;
}

.submit input {
  margin-top: 1rem;
  width: 27rem;
  height: 3.5rem;
  background: var(--color-subtext);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: var(--color-text);
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.register {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: var(--color-text);
}

.registerLink {
  color: var(--color-subtext);
  cursor: pointer;
}

@keyframes glow {
  from {
    text-shadow: 0 0 -10px var(--color-subtext);
  }
  to {
    text-shadow: 0 0 10px var(--color-subtext);
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 550px) {
  .login {
    margin: 2rem 0;
    gap: 1rem;
  }
  .login h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 2rem 1rem;
  }
  .box {
    margin: 0 2rem;
    width: 20rem;
    height: 30rem;
  }
  .field label {
    font-size: 12px;
    line-height: 15px;
    margin: 0.25rem 0;
  }

  .field input {
    width: 15rem;
    font-size: 15px;
  }
  .submit input {
    width: 18rem;
  }
  .register {
    font-size: 12px;
    line-height: 22px;
  }
}
