.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.header h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;

  color: #eeeeee;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.container a {
  margin-bottom: 5rem;
}

.subtext {
  color: var(--color-subtext);
}

@media screen and (max-width: 800px) {
  .container h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
  }
}
